input {
  position: absolute;
  display: block;
  margin-left: 48%;
  margin-top: 3%;
  top: 10%;
}

input:hover {
  transform: scale(1.25,1.25);
  box-shadow: 7px 5px 10px;
  background-color: lightgreen;
  border: solid 1px white;
}

#aa_background {
  margin-top: 11.5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.8, 1.6);
  position: relative;
}

#container {
  position: relative;
}

#content {
  position: absolute;
  display: block;
  border: 5px ridge white;
  top: -20px;
  margin-left: 8%;
  margin-right: 8%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: tan;
  font-family: helvetica;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  font-size: 25px;
  padding-bottom: 2%;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

#movie-one {
  border: 3px solid khaki;
  position: absolute;
  margin-left: 17%;
  top: 520px;
  text-align: center;
  font-weight: bold;
  padding: .5%;
}

#movie-two {
  border: 3px solid khaki;
  position: absolute;
  margin-left: 42%;
  top: 520px;
  text-align: center;
  font-weight: bold;
  padding: .5%;
}

#movie-three {
  border: 3px solid khaki;
  position: absolute;
  margin-left: 64.5%;
  top: 520px;
  text-align: center;
  font-weight: bold;
  padding: .5%;
}

body {
  background-color: rosybrown;
}
