h2 {
  padding-top: .8%;
  text-align: center;
  color: gold;
}

p {
  color: white;
  font-weight: bold;
  text-align: center;
}

button {
  display: block;
  margin-top: 39.9%;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  transform: scale(1.25,1.25);
  box-shadow: 7px 5px 10px;
  background-color: lightgreen;
  border: solid 1px white;
}

#genre_background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin-top: -1.5%;
  margin-left: -.509%;
  margin-right:-.49999999%;
}
