#ticket-output {
  padding: 50px;
  text-align: center;
  border: solid;
  margin-left: 500px;
  margin-right: 500px;
  background-color: maroon;
}

h1 {
  text-align: center;
}

#ticket-image {
  width: 400px;
  height: 200px;
}

#name-genre-result {
  position: absolute;
  top: 30%;
  margin-left: 60px;
}

#enter {
  transform: scale(1.25,1.25);
}

#enter:hover {
  width: 70px;
  height: 30px;
  box-shadow: 7px 5px 10px;
  background-color: lightgreen;
  border: solid 1px white;
}
