#ticket-output {
  padding: 50px;
  text-align: center;
  border: solid;
  margin-left: 500px;
  margin-right: 500px;
  background-color: maroon;
}

h1 {
  text-align: center;
}

#ticket-image {
  width: 400px;
  height: 200px;
}

#name-genre-result {
  position: absolute;
  top: 30%;
  margin-left: 60px;
}
