#ticket {
  text-align: right;
  padding: 50px;
  color: gold;
}

#ticket-image {
  width: 400px;
  height: 200px;
  display: block;
  margin-left: 33%;
  bottom: 5%;
  position: absolute;
}

#name-genre-result {
  position: absolute;
  top: 80%;
  margin-left: 37%;
}

button:hover,input:hover {
  transform: scale(1.25,1.25);
  box-shadow: 7px 5px 10px;
  background-color: lightgreen;
  border: solid 1px white;
}

#door_button {
  width: 145px;
  height: 110px;
  display: block;
  margin-left: 40.7%;
  margin-top: 8.5%;
  position: absolute;
  transform: scale(1.25,1.25);
}

#door_button:hover {
  transform: scale(1.25,1.25);
}

body {
  background: crimson;
}

#homepage_audio {
  position: absolute;
  top: 10%;
  color: gold;
}
